<form (submit)="catchSubmit()">
  <label for="email">Email <span *ngIf="formError.email.error" [innerHTML]="formError.email.message"></span></label>
  <input type="email" name="email" [(ngModel)]="formData.email" (focus)="formError.email.error = false">

  <label for="password">Password <span *ngIf="formError.password.error" [innerHTML]="formError.password.message"></span></label>
  <input type="password" name="password" [(ngModel)]="formData.password" (focus)="formError.password.error = false">

  <button type="submit">Login</button>
</form>